// primary
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

// neutral
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

.fw-400 {
    font-weight: 400;
}
.fw-700 {
    font-weight: 700;
}
.karla {
    font-family: "Karla", sans-serif;
}
.dm-sans {
    font-family: "DM Serif Display", serif;
}
.btn {
    border-radius: 0;
    z-index: 4;
}

.main-header {
    // padding-top: 0.5em;
    // padding-bottom: 0.5em;

    .top-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;

        .name {
            // font-size: 1.35em;
            margin: 0;
            a {
                text-align: center;
                display: block;
                // padding: 10px 15px;
            }
        }
        #navbar-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $darkViolet;
            padding: 10px;
            height: 2em;
            width: 2em;
        }
    }
    .main-nav {
        // margin-top: 15px;
        padding-top: 40px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: $veryDarkViolet;

        background-image: url("../images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;

        a {
            text-align: center;
            display: block;
            padding: 15px 15px;
            // font-size: 0.95em;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }
        .btn {
            background-color: $veryDarkViolet;
            border-color: white;
        }
    }
}
.section-1 {
    background-color: $veryDarkViolet;

    display: grid;
    grid-template-columns: 1fr;

    .left-side {
        position: relative;
        grid-column: 1 /2;
        grid-row: 2/3;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;

        padding-top: 100px;
        padding-bottom: 100px;

        h1 {
            font-size: 3em;
            z-index: 4;
        }
        p {
            line-height: 1.75;
            z-index: 4;
        }
        button {
            text-transform: uppercase;
            padding: 10px 30px;
            background-color: $veryDarkViolet;
            border-color: white;
        }
        button:hover {
            color: $veryDarkViolet;
            background-color: white;
        }
    }
    .left-side::before {
        content: url("../images/bg-pattern-intro-left-mobile.svg");
        position: absolute; /*or absolute*/
        // z-index;
        left: 0px;
        top: 0px;
    }
    .left-side::after {
        content: url("../images/bg-pattern-intro-right-mobile.svg");
        position: absolute; /*or absolute*/
        // z-index;
        right: 0px;
        bottom: -125px;
    }

    .right-side {
        grid-column: 1 /2;
        grid-row: 1/2;
        img {
            width: 100%;
        }
    }
    .bottom-right {
        position: absolute;
        right: 0px;
    }
}
.section-2 {
    padding-top: 150px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .small-border {
        width: 30%;
        border-top: 0.1rem solid #c396c6;
    }
    h2 {
        font-size: 3em;
        color: $veryDarkViolet;
    }
    .section-2-grid {
        display: grid;
        grid-template-columns: 1fr;

        .grid-item {
            color: $veryDarkViolet;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 2em;
            }

            p {
                line-height: 1.5;
            }
        }
    }
}
.section-3 {
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $veryDarkViolet;
    text-align: center;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 130px;
    h3 {
        color: white;
        font-size: 2.5em;
    }
    .how-we-work {
        button {
            text-transform: uppercase;
            padding: 10px 30px;
            background-color: $veryDarkViolet;
            border-color: white;
        }
        button:hover {
            color: $veryDarkViolet;
            background-color: white;
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $veryLightGray;
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .social-links {
            font-size: 1.7em;
            a {
                text-decoration: none;
                color: $darkGrayishViolet;
                transition: all 0.3s ease-in-out;
            }
            a:hover {
                color: $veryDarkViolet;
            }
        }
    }
    .border {
        border-top: 0.1rem solid $grayishBlue;
    }
    .footer-bottom {
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr;

        .link-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            p {
                color: $grayishBlue;
                font-size: 1em;
            }
            a {
                color: $veryDarkViolet;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                margin-bottom: 1em;
            }
            a:hover {
                text-decoration: underline;
                font-size: 1em;
            }
        }
    }
}

@media screen and (max-width: 564px) {
    .no-display {
        display: none;
    }
    .main-nav {
        min-height: calc(100vh - 82px);
    }
}
@media screen and (min-width: 564px) {
    body {
        .main-header,
        .main-nav {
            display: flex;
        }
        .main-header {
            align-items: center;
            justify-content: space-between;
            .top-head {
                #navbar-toggle {
                    display: none;
                }
            }
            .main-nav {
                height: auto;
                padding-top: 0px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: white;
                background-image: none;

                a {
                    color: $darkGrayishViolet;
                    // using a text shadow, we are not disrupting
                    transition: all ease-in-out 0.3s;
                }
                a:hover {
                    color: $veryDarkViolet;
                    text-shadow: 0 0 0.65px $veryDarkViolet, 0 0 0.65px $veryDarkViolet;
                }

                .btn {
                    color: $darkViolet;
                    background-color: white;
                    border-color: $veryDarkViolet;
                    border-radius: 0;
                }
                .btn:hover {
                    color: white;
                    background-color: $veryDarkViolet;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .main-header {
        padding-left: 82px;
        padding-right: 82px;
        .top-head {
            padding-left: 0;
        }
    }
    .section-1 {
        padding-left: 82px;
        padding-right: 82px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        position: relative;

        .left-side {
            grid-column: 1/2;
            grid-row: 1/2;
            align-items: flex-start;
            text-align: left;
            padding-left: 0;
            .small-border {
                width: 30%;
                border-top: 0.1rem solid #fff;
            }
            h1 {
                font-size: 3em;
            }
        }

        .left-side::after {
            content: "";
        }
        .left-side::before {
            content: "";
        }
        .right-side {
            grid-column: 2/3;
            grid-row: 1/2;
            position: relative;
            padding-right: 24px;

            img {
                position: absolute;
                top: 100px;
                width: 90%;
                max-width: 590px;
                z-index: 2;
            }
        }
    }

    .section-1::before {
        content: url("../images/bg-pattern-intro-right-desktop.svg");
        position: absolute; /*or absolute*/
        // z-index;
        right: 0px;
        top: 0px;
        z-index: 3;
    }
    .section-1::after {
        content: url("../images/bg-pattern-intro-left-desktop.svg");
        position: absolute; /*or absolute*/
        // z-index;
        left: 0px;
        bottom: -250px;
        z-index: 3;
    }

    .section-2 {
        padding-left: 82px;
        padding-right: 82px;
        padding-top: 250px;
        align-items: flex-start;
        text-align: left;
        .section-2-grid {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            .grid-item {
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 2em;
            }
            .grid-item:nth-child(3) {
                margin-right: 0;
            }
        }
    }

    .section-3 {
        grid-template-columns: 1fr 1fr;
        margin-right: 82px;
        margin-left: 82px;
        padding-left: 75px;
        padding-right: 75px;
        text-align: left;
        background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
        .how-we-work {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    footer {
        padding-right: 82px;
        padding-left: 82px;
        background-image: url("../images/bg-pattern-footer-desktop.svg");
        .footer-top {
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-bottom {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .link-group {
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main-header {
        padding-left: 168px;
        padding-right: 168px;
    }
    .section-1 {
        padding-left: 168px;
        padding-right: 168px;
    }
    .section-2 {
        padding-left: 168px;
        padding-right: 168px;
    }
    .section-3 {
        margin-left: 168px;
        margin-right: 168px;
    }
    footer {
        padding-left: 168px;
        padding-right: 168px;
    }
}
